/* Search Bar */
.search-button {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
}
.search-button:hover,
.search-button:active {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.reset-button {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
}

.reset-button:hover,
.reset-button:active {
    color: var(--secondary-text-color);
    background-color: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
}

